<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="icon" type="image/x-icon" href="img/titleicon1.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<style>
  
</style>
<section id="categoriesall">
<h1 class="pb-4">Explore Categories</h1>

<nav aria-label="breadcrumb">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/categories">Categories</a></li>
  
  <li class="breadcrumb-item active" aria-current="page"><%-cid%></li>
</ol>
</nav>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 mb-4" id="reccatdic">
<% if(typeof categbyID !== 'undefined' && categbyID.length > 0) { %>
  <% categbyID.forEach(function(category, index) { %>
    <a href="/recipe/<%- category._id %>" class="col text-center category__link">
      <div class="category__img shadow">
        <img id="ctallimg " src="/uploads/<%- category.image %>" alt="<%- category.name %>" loading="lazy">
      </div>
      <div class="pt-1"><%- category.name %></div>
    </a>
  <% }) %>
<% } %>
</div>


<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
<% if(typeof categoryById !== 'undefined' && categoryById.length > 0) { %>
  <% categoryById.forEach(function(recipe, index){ %>
  <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
    <div class="category__img category__img--large shadow">
      <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
    </div>
    <div class="pt-1"><%= recipe.name %></div>
  </a>
  <% }) %>
<% }  %>
  
</div>
<!-- Pagination Controls -->
<div class="d-flex justify-content-center mt-4">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <% if (currentPage > 1) { %>
        <li class="page-item">
          <a class="page-link" href="?page=<%= currentPage - 1 %>&limit=<%= limit %>" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      <% } %>
      <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= (i === currentPage) ? 'active' : '' %>">
          <a class="page-link" href="?page=<%= i %>&limit=<%= limit %>"><%= i %></a>
        </li>
      <% } %>
      <% if (currentPage < totalPages) { %>
        <li class="page-item">
          <a class="page-link" href="?page=<%= currentPage + 1 %>&limit=<%= limit %>" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      <% } %>
    </ul>
  </nav>
</div>


</section>